h1 {
  font-family: Georgia Times serif;
  font-size: 3em;
  font-style: italic;
}

#pagetitle{
  font-family: Georgia TImes serif;
  font-size: 1.8em;
  font-weight: bold;
}

#pagetitle h2 {
  font-family: Georgia Times serif;
  font-size: 1.5em;
  font-weight: 700;
  }

p {
  font-family: Verdana Helvetica Arial sans serif;
  font-size: 1em;;
  font-weight: normal;
}

h2 h1 {
  font-size: 1.5em;
  font-weight:500;
}

#page-title h1 {
  color:red;
  font-style: normal;
  font-size: 1.8em;
  font-weight: 700;
}

#page-header h2{
  font-style: italic;
}

tr th {
  text-align: left;
}