body {
  background-color: rgb(0,136,0);
  margin: 0;
  padding: 0 2em;
}
#page-wrapper {
  width: 960px;
  background-color: white;
  margin: 0 auto;
  padding: 1em;
}

#page-header, #content, #navbar {
  padding: 0 1em;
}

#page-header{
  padding-top: 1em;
}


#page-header img {
  vertical-align: middle;
}

h1 {
  font-family: "Georgia", "Times", serif;
  font-size: 3em;
  font-style: italic;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

#navbar{
  background-color: #333;
  }
  
#navbar ul{
  padding: 0;
 }

#navbar ul li {
  display: inline-block;
}

#navbar a{
  color: #CCFFCC;
  text-decoration: none;
  padding: 0.25em;
  display: inline-block;
}

#navbar a:hover{
  background-color: #666;
  text-shadow: 2px 2px #333;
}

#pagetitle{
  font-family: "Georgia", "Times", serif;
  font-size: 1.8em;
  font-weight: bold;
}

#pagetitle h2 {
  font-family: Georgia Times serif;
  font-size: 1.5em;
  font-weight: 700;
  }

p {
  font-family: Verdana Helvetica Arial sans serif;
  font-size: 1em;;
  font-weight: normal;
}

h2 h1 {
  font-size: 1.5em;
  font-weight:500;
}

#page-title h1 {
  color:red;
  font-style: normal;
  font-size: 1.8em;
  font-weight: 700;
}

#page-header h2{
  font-style: italic;
}

tr th {
  text-align: left;
}